<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://sh.suijue.com/picture/1/1180/1.jpg</string>
	<string>http://www.zglxw.com/uploads/allimg/110612/141RG5M-0.jpg</string>
	<string>http://img.blog.163.com/photo/oeNGSebL9agfe-tznwRAoQ==/3970204546504136431.jpg</string>
	<string>http://img.wallpapersking.com/Big6/Yuan/19201080/2011214/10210002.jpg</string>
	<string>http://www.hyrc.cn/upfile/3/200611/1123539531579.jpg</string>
	<string>http://pic1a.nipic.com/2009-01-06/200916223131583_2.jpg</string>
	<string>http://p1.images22.51img1.com/6000/elicx48/1611b23fc919fadcd65e53bf0ec22e05.jpg</string>
	<string>http://kfeamg.bay.livefilestore.com/y1pmQoEvSG8EX4qO6g5yX_XCwgGm8TQMZYxmL6wyniNRecw5JlnEGUvXv26-Vua2PSlExm8ibqPx4Cm12DDuQGk_2sF-7mLNAQ7/desk0051610.jpg</string>
	<string>http://4.bp.blogspot.com/-4Zu4KuLCmaY/UBFkq8eaI3I/AAAAAAAAAKQ/_Cm04efnt8A/s1600/sunset.jpg</string>
	<string>http://pica.nipic.com/2007-12-18/200712182172877_2.jpg</string>
</array>
</plist>
